span.sapMBtnInner.sapMBtnEmphasized {
    background-image: none;
    background-color: #ffffff;
    border-color: #d1e8ff;
    color: #1c2228;
    text-shadow: 0 0 0.125rem transparent;
    width: 150px;
    font-size: large;
}
span.sapMBtnInner.sapMBtnReject {
    background-image: none;
    background-color: #f88;
    border-color: #f88;
    color: #000000;
    width: 150px;
    font-size: large;
}
#__page0-intHeader-BarPH, #__page1-intHeader-BarPH,#__page2-intHeader-BarPH{
    background-color: #b7c6e1;
}
#__toolbar1,#__toolbar0{
    background-color: #b7c6e1;;
}
#__page0-title-inner,#__page1-title-inner,#__page2-title-inner{
    font-size: x-large;
    color:black;
}
#container-app---consultaplataformas--title-inner{
    font-size:x-large;
    color:black;

}